body {
    background-color: #212224;
}
h1 {
    font-family: verdana;
    color: white;
}
h2 {
    font-family: verdana;
    color: white;
}
p {
    font-family: verdana;
    color: white;
    line-height: 1.5;
    margin-right: 50%;
}
a{
    color: skyblue;
    text-decoration: none;
}
a:hover{
    color: gray;
    text-decoration: underline;
}
